<div class="manea-tiles">
  <div class="manea-tiles__header">
    <h1>Manea Tiles</h1>
  </div>
  <div class="manea-tiles__content">
    <div *ngIf="!gameStarted" class="manea-tiles__control-zone">
      <h1 class="manea-tiles__center-text">Select your favorite manea</h1>
      <button (click)="songSelected(0)" class="manea-tiles__select-song" color="accent" mat-raised-button>
        <mat-icon>music_note</mat-icon>
        Costel Biju - Bum am apărut
      </button>
      <button (click)="songSelected(1)" class="manea-tiles__select-song" color="accent" mat-raised-button>
        <mat-icon>music_note</mat-icon>
        Tzancă Uraganu' și Susanu - Shukaro
      </button>
      <button (click)="songSelected(2)" class="manea-tiles__select-song" color="accent" mat-raised-button>
        <mat-icon>music_note</mat-icon>
        Florin Salam - Jumătate soarta,jumăte noroc
      </button>
    </div>
    <div *ngIf="gameStarted">
      <div class="manea-tiles__text-zone">
        <h1 class="manea-tiles__center-text">{{infoMessage}}</h1>
      </div>
      <div class="manea-tiles__board-zone {{awaitBoardClass}}">
        <div class="manea-tiles__block {{moves[0][0]}}"></div>
        <div class="manea-tiles__block {{moves[0][1]}}"></div>
        <div class="manea-tiles__block {{moves[0][2]}}"></div>
        <div class="manea-tiles__block {{moves[0][3]}}"></div>

        <div class="manea-tiles__block {{moves[1][0]}}"></div>
        <div class="manea-tiles__block {{moves[1][1]}}"></div>
        <div class="manea-tiles__block {{moves[1][2]}}"></div>
        <div class="manea-tiles__block {{moves[1][3]}}"></div>

        <div class="manea-tiles__block {{moves[2][0]}}"></div>
        <div class="manea-tiles__block {{moves[2][1]}}"></div>
        <div class="manea-tiles__block {{moves[2][2]}}"></div>
        <div class="manea-tiles__block {{moves[2][3]}}"></div>

        <div class="manea-tiles__block {{moves[3][0]}}"></div>
        <div class="manea-tiles__block {{moves[3][1]}}"></div>
        <div class="manea-tiles__block {{moves[3][2]}}"></div>
        <div class="manea-tiles__block {{moves[3][3]}}"></div>

        <div (click)="checkSong(0)" class="manea-tiles__block {{moves[4][0]}}"></div>
        <div (click)="checkSong(1)" class="manea-tiles__block {{moves[4][1]}}"></div>
        <div (click)="checkSong(2)" class="manea-tiles__block {{moves[4][2]}}"></div>
        <div (click)="checkSong(3)" class="manea-tiles__block {{moves[4][3]}}"></div>
      </div>
      <div *ngIf="freezeGame" class="manea-tiles__control-zone">
        <button (click)="selectSong()" class="manea-tiles__select-song" mat-raised-button>
          <mat-icon>queue_music</mat-icon>
          Select another song
        </button>
        <button (click)="playAgain()" class="manea-tiles__select-song" color="accent" mat-raised-button>
          <mat-icon>replay</mat-icon>
          Play Again!
        </button>
      </div>
    </div>
  </div>
</div>
