@import "src/shared/constants/variables";

.manea-tiles {
  &__header {
    height: auto;
    width: auto;
    padding: 4px;
    background: linear-gradient(to bottom right, $spacer-color1, $spacer-color2);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__control-zone {
    display: grid;
  }

  &__center-text {
    text-align: center;
  }

  &__select-song {
    margin: 5px;
  }

  &__text-zone {

  }

  &__board-zone {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 10px auto;
  }

  &__await-opacity {
    opacity: 50%;
  }

  &__block {
    width: 100px;
    height: 100px;
    border: 1px solid $black-color;
    line-height: 100px;
    font-size: 60px;
  }

  &__sing-block-color {
    background: $white-color;
  }

  &__lose-block-color {
    background: $red-color;
  }
}

h1 {
  color: $white-color;
  margin-left: 11px;
  margin-top: 2px;
}

body {
  background-color: $grey-color;
}
