<div class="app">
  <div class="app__toolbar">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Ten Angular</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="app__content">
    <div class="app__photo1 app__paralllax">
      <div class="app__about-me">
        <img src="https://i.imgur.com/68t8NiO.png" alt="me" class="app__about-me__image"/>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>programmer</mat-chip>
          <mat-chip color="primary" selected>20 y.o</mat-chip>
          <mat-chip>student</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="app__content-spacer"></div>
    <div class="app__photo2 app__paralllax">

    </div>
    <div class="app__content-spacer"></div>
    <div class="app__photo3 app__paralllax">

    </div>
  </div>
</div>
