<div class="app">
  <h1>home-page works!</h1>

  <div class="app__parallax1">
    <img src="https://i.imgur.com/SvV7iyA.jpg" alt="me" class="app__presentationPhoto"/>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip>One fish</mat-chip>
      <mat-chip>Two fish</mat-chip>
      <mat-chip color="primary" selected>Primary fish</mat-chip>
      <mat-chip color="accent" selected>Accent fish</mat-chip>
    </mat-chip-list>
  </div>
  <div class="app__spacing">
    <h2>Spacing</h2>
  </div>
  <div class="app__parallax2">
    <h2>Section 2</h2>
  </div>
  <div class="app__spacing">
    <h2>Spacing</h2>
  </div>
</div>
