<div class="home-page">
  <div class="home-page__content">
    <div class="home-page__photo1 home-page__paralllax">
      <div class="home-page__about-me">
        <img alt="me" class="home-page__about-me__image" src="https://i.imgur.com/68t8NiO.png"/>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>programmer</mat-chip>
          <mat-chip color="primary" selected>20 y.o</mat-chip>
          <mat-chip>student</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="home-page__content-spacer">
      <div class="home-page__content-text">
        <h1 class="home-page__text-fit">#1 - Tic-Tac-Toe Project</h1>
      </div>
    </div>
    <div class="home-page__photo2 home-page__paralllax">
      <button class="home-page__button-center" mat-raised-button routerLink="/tic-tac-toe" routerLinkActive="true">
        <mat-icon>play_circle_outline</mat-icon>
        Try me!
      </button>
    </div>
    <div class="home-page__content-spacer">
      <div class="home-page__content-text">
        <h1 class="home-page__text-fit">#2 - Hangman</h1>
      </div>
    </div>
    <div class="home-page__photo3 home-page__paralllax">
      <button class="home-page__button-center" mat-raised-button routerLink="/hangman" routerLinkActive="true">
        <mat-icon>play_circle_outline</mat-icon>
        Try me too!
      </button>
    </div>
  </div>
</div>
