<div class="home-page">
  <div class="home-page__content">
    <div class="home-page__photo1 home-page__paralllax">
      <div class="home-page__about-me">
        <img src="https://i.imgur.com/68t8NiO.png" alt="me" class="home-page__about-me__image"/>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip>programmer</mat-chip>
          <mat-chip color="primary" selected>20 y.o</mat-chip>
          <mat-chip>student</mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <div class="home-page__content-spacer"></div>
    <div class="home-page__photo2 home-page__paralllax">

    </div>
    <div class="home-page__content-spacer"></div>
    <div class="home-page__photo3 home-page__paralllax">

    </div>
  </div>
</div>
