$black-color: black;
$white-color: white;
$grey-color: #303030;

$spacer-color1: #333333;
$spacer-color2: #383737;

$tic-tac-toe-block-hover-color1: #FFDEF2;
$tic-tac-toe-block-hover-color2: #E6F0FF;
