$black-color: black;
$white-color: white;
$grey-color: #303030;
$red-color: #c51a1a;
$green-color: #118111;
$blue-color: #11f1f1;

$vs-color: #12bbbb;

$spacer-color1: #333333;
$spacer-color2: #383737;

$tic-tac-toe-block-hover-color1: #FFDEF2;
$tic-tac-toe-block-hover-color2: #E6F0FF;
